* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #3b4664;
  font-family: "Avenir Next World W05 Bold";
  width: 38%;
  margin: auto;
}

#s1,
#s2,
#s3 {
  margin-bottom: 20px;
}
#s1 {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 12% 58% 14% 16%;
  row-gap: 15%;
  margin: 5% auto;
}
#s2 {
  background-color: #181f32;
  height: 121px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
#s2 #s2nombre {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 45px;
  color: white;
}
#s1 .p2 {
  color: white;
  font-size: 30px;
}
#s1 .p1 {
  color: white;
  font-size: 15px;
}
#s1droite1 {
  grid-area: 2/3/3/4;
}
#s1droite2 {
  grid-area: 1/4/2/5;
  display: flex;
  justify-content: space-around;
}

#s1gauche {
  grid-area: 1/1/3/2;
}
#rectangle1 {
  grid-area: 2/4/3/5;
  background-color: #252c46;
  border-radius: 20%;
  width: 100%;
  height: 60%;
  position: relative;
}
#cercle1 {
  background-color: #cd3f31;
  border-radius: 50%;
  width: 33%;
  height: 100%;
  position: absolute;
}
#s3 {
  background-color: #181f32;
  height: 465px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
}
#s3 p {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pblanc {
  color: #181f32;
  border-radius: 10px;
  background-color: #eae3db;
}
.pbleu {
  color: white;
  border-radius: 10px;
  background-color: #647299;
}
.prouge {
  color: white;
  border-radius: 10px;
  background-color: #d13f30;
}
#s3 p:nth-child(7) {
  grid-area: 1/1/2/2;
}
#s3 p:nth-child(8) {
  grid-area: 1/2/2/3;
}
#s3 p:nth-child(9) {
  grid-area: 1/3/2/4;
}
#s3 p:nth-child(4) {
  grid-area: 2/1/3/2;
}
#s3 p:nth-child(5) {
  grid-area: 2/2/3/3;
}
#s3 p:nth-child(6) {
  grid-area: 2/3/3/4;
}
#s3 p:nth-child(1) {
  grid-area: 3/1/4/2;
}
#s3 p:nth-child(2) {
  grid-area: 3/2/4/3;
}
#s3 p:nth-child(3) {
  grid-area: 3/3/4/4;
}
#s3 p:nth-child(10) {
  grid-area: 3/3/4/4;
}
#s3 p:nth-child(10) {
  grid-area: 4/2/5/3;
}
#s3 p:nth-child(11) {
  grid-area: 4/1/5/2;
}
#s3 p:nth-child(12) {
  grid-area: 2/4/3/5;
}
#s3 p:nth-child(13) {
  grid-area: 3/4/4/5;
}
#s3 p:nth-child(14) {
  grid-area: 4/4/5/5;
}
#s3 p:nth-child(15) {
  grid-area: 4/3/5/4;
}
#s3 p:nth-child(16) {
  grid-area: 1/4/2/5;
}
#s3 p:nth-child(17) {
  grid-area: 5/1/6/3;
}
#s3 p:nth-child(18) {
  grid-area: 5/3/6/5;
}
